html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.format-1 {
  float: right;
  width: 50%;
  height: 100%;
  padding: 30px;
  /* background-color: black; */
}

.format-2 {
  /* margin: 30px; */
  padding: 30px;
}