html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Recursive", sans-serif;
}

@media only screen and (max-width: 1024px) {
    html, body {
        background-color: lightblue;
        width: 100%;
    }
}

.format-1 {
    float: right;
    width: 50%;
    height: 100%;
    padding: 20px;
}

@media only screen and (max-width: 1024px) {
    .format-1 {
        float: none;
        padding: 10px;
        width: 100%;
        height: auto;
    }
}

.format-2 {
    padding: 20px;
}

@media only screen and (max-width: 1024px) {
    .format-2 {
        padding: 10px;
        width: 100%;
    }
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    text-align: left;
    /* padding: 10px 20px 25px; */
    padding-left: 0%;
    text-decoration: none;
    font-size: 17px;
}

@media only screen and (max-width: 1024px) {
    .topnav a {
        float: left;
        text-align: left;
        padding: 10px 9.3px 6px;
        padding-left: 0%;
        text-decoration: none;
        font-size: 17px;
    }
}

.line {
    text-decoration: underline;
}

.no-space {
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.font-size {
    font-size: 13px;
}

.photo-size {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1024px) {
    .format-1>.format-2>ul {
        list-style-type: none;
        padding: 0%;
        margin: 0%;
    }
}

.navbar {
    padding-left: 0%;
    padding-bottom: 0%;
    margin-left: 0%;
    margin-bottom: 0%;
}

#pad {
    padding-left: 0%;
}