html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.example::-webkit-scrollbar {
    display: none;
}

nav {
    padding: 0%;
    margin: 0%;
}

hr {
    padding: 0%;
    margin: 0%;
    border: 1px thin brown;
}

.box {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin: 0%;
    padding: 0%;
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    text-decoration: underline;
}

.header1 {
    text-align: left;
    margin: 5px;
    padding: 0%;
}

.header2 {
    text-align: center;
    padding-bottom: 5px;
    margin: 0%;
}

.role {
    text-align: left;
    margin-left: 60px;
}

.roles {
    text-align: left;
}

.roles>* {
    display: inline-block;
    vertical-align: right;
}

.header3>*, .skills>* {
    display: inline-block;
    vertical-align: middle;
}

.sub-header1, .sub-header2 {
    margin: 10px 0px 0px 0px;
    padding: 0%;
}

p:first-of-type {
    margin-top: 0.5em;
}

/* .skills {
    text-align: center;
}

.ui-design, .services-development, .testing, .product-management, .collaboration, .devops {
    width: 250px;
    height: 20px;
} */

.area {
    width: 350px;
    height: 20px;
}

.margin-space {
    margin: 0.5em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-item {
    flex: 1;
}

.flex-item-1 {
    padding: 0.35em 0em 0em 0em;
    flex: 1;
}

.float-right {
    float: right;
}